<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="../../assets/cloud.png" id="icon" alt="User Icon"/>
    </div>


    <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" [(ngModel)]="username" (input)="clearErrors()" (keydown.enter)="signup()">
    <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password" (input)="clearErrors()" (keydown.enter)="signup()">
    <input type="password" class="fadeIn third" name="login" placeholder="repeat password" [(ngModel)]="passControl" (input)="clearErrors()" (keydown.enter)="signup()">
    <input (click)="signup()"  type="submit" class="fadeIn fourth" value="Sign Up">

    <div *ngIf="errorValidateMessage" class="error-msg">
      <i class="fa fa-times-circle"></i>
      <span *ngIf="errorValidateMessage.field">Problem in {{errorValidateMessage?.field}} field.</span> {{errorValidateMessage?.text}}
    </div>

    <div id="formFooter">
      <a class="underlineHover" href="/login">Already registered?</a>
    </div>

  </div>
</div>
